@media (max-width: 900px) {
    .wrapper .bookmark {
        padding: 0 20px;
        grid-template-areas: "bookmark-img bookmark-title bookmark-title bookmark-title"
                             "bookmark-img bookmark-price bookmark-in-cart bookmark-remove";
        grid-template-columns: repeat(4, 1fr);    
    }
}

@media (max-width: 665px) {
    .wrapper .bookmarks-wrapper {
        padding: 0 5%;
    }
    .wrapper .bookmark-in-cart:hover {
        padding: 0;
    }
}

@media (max-width: 600px) {
    .wrapper .bookmark {
        grid-template-areas: ". bookmark-remove"
                             "bookmark-img bookmark-img"
                             "bookmark-title bookmark-title"
                             "bookmark-price bookmark-in-cart";
        grid-template-columns: repeat(2, 1fr);   
        row-gap: 20px; 
    }
    .wrapper .bookmark-remove {
        text-align: right;
    }
    .wrapper .bookmark-in-cart {
        background: green;
        padding: 10px;
        color: white;
    }
}

body {
    font-family: 'Balsamiq Sans', cursive;
}

h1 {
    padding: 10px 0;
    text-align: center;
}

.bookmarks-wrapper {
    padding: 0 10%;
}

.bookmarks-loop {
    padding: 20px 0;
    border-top: 2px solid var(--menu);
    border-left: 2px solid var(--menu);
    border-right: 2px solid var(--menu);
    row-gap: 20px;
    display: grid;
    overflow: hidden;
}

.bookmarks-loop * {
    z-index: 1;
}

.bookmark {
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-areas: "bookmark-img bookmark-title bookmark-price bookmark-in-cart bookmark-remove";
    grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr;
    transition: 0.3s ease-in-out;
}

.bookmark:hover {
    transform: scale(1.02);
}

.bookmark-img-container {
    grid-area: bookmark-img;
    display: flex;
    justify-content: center;
}

.bookmark-img-container img {
    width: auto;
    max-height: 200px;
}

.bookmark-title-wrapper {
    grid-area: bookmark-title;
    text-align: center;
}

.bookmark-title {
    color: black;
    font-size: 20px;
}

.bookmark-title:hover, .bookmark-buy:hover {
    text-decoration: underline;
}

.bookmark-price {
    grid-area: bookmark-price;
    font-size: 18px;
}

.bookmark-remove {
    grid-area: bookmark-remove;
}

.fa-times {
    color: crimson;
    transition: 0.3s ease-in-out;
}

.fa-times:hover {
    color: white;
    background: crimson;
    padding: 10px 15px;
}

.bookmark-in-cart {
    grid-area: bookmark-in-cart;
    color: black;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.bookmark-in-cart:hover {
    color: rgb(255, 255, 255);
    padding: 10px;
    background: green;
}