{% extends 'base/base.html' %}
{% load static %}
{% block title %}Booklib - {{ book.title }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'book.css' %}">
<div class="book-wrapper">
    <h1 class="book-h1">{{ book.title }}</h1>
    <br>
    <div class="book-content">
        <img class="book-img" src="{{ book.image.url }}" alt="">
        <div class="book-info">
            <p class="book-info-line">
                <span>Автор: </span>
                <a class="field-value field-link"href="{% url 'authorBooksBySlug' book.author.slug %}">{{ book.author }}</a>
            </p>
            <br><hr><br>
            <p class="book-info-line">
                <span>Видавництво: </span>
                <a class="field-value field-link" href="{% url 'edition' book.edition.slug %}">{{ book.edition }}</a>
            </p>
            <br><hr><br>
            <p class="book-info-line">
                <span>ISBN:</span>
                <span class="field-value">{{ book.ISBN }}</span>
            </p>
            <br><hr><br>
            <p class="book-info-line">
                <span>Категорія: </span>
                <a class="field-value field-link" href="{% url 'bookByCategorySlug' book.category.slug %}">{{ book.category }}</a>
            </p>
            <br><hr><br>
            <p class="book-info-line">
                <span>Кількість сторінок:</span> 
                <span class="field-value">{{ book.numberOfPages }}</span>
            </p>
            <br><hr><br>
            <p class="book-info-line">
                <span>Тип обкладинки:</span> 
                <!-- display CHOICE second value -->
                <span class="field-value">{{ book.get_coverType_display }}</span>
            </p>
            <br><hr><br>
            <p class="book-info-line">
                <span>Папір:</span> 
                <!-- display CHOICE second value -->
                <span class="field-value">{{ book.get_paperType_display }}</span>
            </p>
            <br><hr><br>
            <p class="book-info-line">
                <span>Рік:</span> 
                <span class="field-value">{{ book.publicationYear }}</span>
            </p>
            <br><hr><br>
            {% if book.isAvailable %}
            <div class="available">
                <span class="available-span">У наявності</span>
                <br>
                <div class="price-buy-favorite-available">
                    <span class="book-price">{{ book.price }} <b>UAH</b></span>
                    <div class="price-buy-favorite-inner-div">
                        <a class="isAvailableButton bookMarkmargin-right" href="{% url 'addBookmark' book.slug %}">
                            {% if isMarked %}
                            <span>В улюблених</span>
                            {% else %}
                            <span>В улюблені</span>
                            {% endif %}
                        </a>
                        <a class="isAvailableButton" href="{% url 'addCartItem' book.slug %}">
                            {% if inCart %}
                            <span>У кошику</span>
                            {% else %}
                            <span>У кошик</span>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            <p class="not-available">
                <span class="available-span">Немає в наявності</span>
                <br>
                <div class="price-buy-favorite-not-available">
                    <span class="book-price">{{ book.price }} UAH</span>
                    <a class="isAvailableButton" href="{% url 'addBookmark' book.slug %}">
                        {% if user.is_authenticated and isMarked %}
                        <span>В улюблених</span>
                        {% else %}
                        <span>Додати в улюблені</span>
                        {% endif %}
                    </a>
                </div>
            </p>
            {% endif %}
        </div>
        <div class="delivery">
            <div class="delivery-content">
                <h2>Доставка</h2>
                <br>
                <p>У нас ви можете замовити доставку книг наступними способами:</p>
                <br>
                <ul>
                    <li>- Нова пошта<br><br></li>
                    <li>- Укрпошта<br><br></li>
                    <li>- Justin<br><br></li>
                </ul>
                <h2>Оплата</h2>
                <br>
                <p>Оплата можлива як на карту, так і накладним платежем.</p>
                <p>При накладному платежі:</p>
                <br>
                <p> - додатково потрібно оплатити 1% від суми замовлення, але не менше 10 гривень.(Укрпошта)</p>
                <br>
                <p> - додатково потрібно оплатити 2% від суми замовлення + 20 гривень.(Нова пошта)</p>
            </div>
        </div>
    </div>
    <div class="book-description">
        <h2>Про книгу</h2><br>
        <p class="book-description-paragraph">{{ book.description }}</p>
    </div>
    {% if theSameAuthorBooks %}
        <br>
        <h1>Інші книги автора</h1>
        <br>
        <div class="other-books">
            {% for book in theSameAuthorBooks %}
            <div class="another-book-container">
                {% if book.isNew %}
                <div class="another-book-new">
                    <span>Новинка</span>
                </div>
                {% endif %}
                {% if book.isHot %}
                <div class="another-book-popular">
                    <span>Популярна</span>
                </div>
                {% endif %}
                <div class="another-book-img-container">
                    <a href="{% url 'bookBySlug' book.slug %}"><img class="another-book-img"src="{{ book.image.url }}" alt=""></a>
                </div>
                <a href="{% url 'bookBySlug' book.slug %}" class="another-book-title"><span><b>{{ book.title }}</b></span></a>
                <span class="another-book-price">{{ book.price}} <b>UAH</b></span>
                {% if book.isAvailable %}
                <a class="another-book-buy" href="{% url 'addCartItem' book.slug %}">У кошик</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    <br>
    <h1>Схожі книги</h1>
    <br>
    <div class="other-books">
        {% for book in theSameCategoryBooks %}
        <div class="other-book-container">
            {% if book.isNew %}
            <div class="another-book-new">
                <span>Новинка</span>
            </div>
            {% endif %}
            {% if book.isHot %}
            <div class="another-book-popular">
                <span>Популярна</span>
            </div>
            {% endif %}
            <div class="another-book-img-container">
                <a href="{% url 'bookBySlug' book.slug %}"><img class="another-book-img"src="{{ book.image.url }}" alt=""></a>
            </div>
            <a href="{% url 'bookBySlug' book.slug %}" class="another-book-title"><span><b>{{ book.title }}</b></span></a>
            <a href="{% url 'authorBooksBySlug' book.author.slug %}" class="another-book-author">{{ book.author }}</a>
            <span class="another-book-price">{{ book.price}} <b>UAH</b></span>
            {% if book.isAvailable %}
            <a class="another-book-buy" href="{% url 'addCartItem' book.slug %}">У кошик</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}