{% extends 'base/base.html' %}
{% load static %}
{% block title %}Booklib{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'index.css' %}">
<div class="index-wrapper">
    <h2>Топ 3 видавництва за кількістю книг</h2>
    <div class="top-editions-container">
        <div class="top-editions-loop">
            {% for edition in top3Editions %}
            <a class="top-edition" href="{% url 'edition' edition.slug %}">
                <span>{{ edition.title|title }}</span>
            </a>
            {% endfor %}
        </div>
        <a class="allEditionsButton" href="{% url 'listOfEditions' %}">Усі видавництва</a>
    </div>
    <h2>Можливо вас зацікавлять книги в наступних категоріях</h2>
    <div class="random-categories-container">
        <div class="random-categories-loop">
            {% for category in random4Categories %}
            <a class="random-category" href="{% url 'bookByCategorySlug' category.slug %}">
                <img class="random-category-img" src="{{category.image.url}}" alt="">
                <div class="random-category-title">{{ category }}</div>
            </a>
            {% endfor %}
        </div>
        <a class="allEditionsButton" href="{% url 'listOfCategories' %}">Усі категорії</a>
    </div>
</div>
<div class="title">
    <h2>Онлайн книгарня, у якій ти завжди знайдеш щось нове</h2>
</div>
<div class="index-wrapper">
    <br>
    <h2>Новинки</h2>
    <br>
    <div class="books-container">
        <div class="books-loop">
            {% for book in recentlyAddedBooks %}
            <div class="book">
                {% if book.isNew %}
                <div class="book-new">
                    <span>Новинка</span>
                </div>
                {% endif %}
                {% if book.isHot %}
                <div class="book-popular">
                    <span>Популярна</span>
                </div>
                {% endif %}
                <a href="{% url 'bookBySlug' book.slug %}" class="book-img">
                    <img src="{{ book.image.url }}" alt="">
                </a>
                <a class="book-title" href="{% url 'bookBySlug' book.slug %}"><b>{{ book.title }}</b></a>
                <a class="book-author" href="{% url 'authorBooksBySlug' book.author.slug %}">{{ book.author }}</a>
                <p class="book-price">{{ book.price }} <b>UAH</b></p>
                {% if book.isAvailable %}
                    <a href="{% url 'addCartItem' book.slug %}" class="buy">У кошик</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<div class="title">
    <h2>Обирай популярні книги</h2>
</div>
<div class="index-wrapper">
    <br>
    <h2>Популярні</h2>
    <br>
    <div class="books-container">
        <div class="books-loop">
            {% for book in popularBooks %}
            <div class="book">
                {% if book.isNew %}
                <div class="book-new">
                    <span>Новинка</span>
                </div>
                {% endif %}
                {% if book.isHot %}
                <div class="book-popular">
                    <span>Популярна</span>
                </div>
                {% endif %}
                <a href="{% url 'bookBySlug' book.slug %}" class="book-img">
                    <img src="{{ book.image.url }}" alt="">
                </a>
                <a class="book-title" href="{% url 'bookBySlug' book.slug %}"><b>{{ book.title }}</b></a>
                <a class="book-author" href="{% url 'authorBooksBySlug' book.author.slug %}">{{ book.author }}</a>
                <p class="book-price">{{ book.price }} <b>UAH</b></p>
                {% if book.isAvailable %}
                    <a href="{% url 'addCartItem' book.slug %}" class="buy">У кошик</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="title">
    <h2>Не стримуйся - замовляй скільки хочеш :)</h2>
</div>
{% endblock %}