{% extends 'base/base.html '%}
{% load static %}
{% block title %}Booklib - Категорії{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'listOfCategories.css' %}">
<div class="categories-wrapper">
    <h1 class="category-h1">Категорії</h1>
    <br>
    <div class="categories-list-wrapper">
        {% for category in categories %}
        <!-- add href to specific category page -->
        <a class="category" href="#">
            <img class="category-img" src="{{category.image.url}}" alt="">
            <span class="category-title">{{ category }}</span>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}