{% extends 'base/base.html' %}
{% load static %}
{% block title %}Booklib - Категорії{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'listOfCategories.css' %}">
<div class="categories-wrapper">
    <h1 class="category-h1">Категорії</h1>
    <br>
    <div class="categories-list-wrapper">
        {% for category in categories %}
        <div class="category-block">
            <a class="category" href="{% url 'bookByCategorySlug' category.slug %}">
                <img class="category-img" src="{{category.image.url}}" alt="">
                <div class="category-title">{{ category }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}