{% extends 'base/base.html '%}
{% load static %}
{% block title %}Обмін та повернення{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'refund.css' %}">
<div class="refund-wrapper">
    <h1>Обмін та повернення</h1>
    <br>
    <hr>
    <br>
    <div class="refund-content">
        <h3>Обмін та повернення в онлайн-магазині BookLib відбувається згідно зі встановленими чинним законодавством правилами.</h3>
        <br>
        <p class="refund-paragraph">У випадку виявлення поліграфічного браку книжкової продукції інтернет-магазин, за бажанням покупця, здійснює обмін товару або повертає кошти у розмірі вартості товару. Поліграфічний брак – це брак, отриманий внаслідок недотримання технологій виробництва. Наприклад: нечіткий друк, розмазування фарби, склаєні сторінки, нерівне обрізання аркушів чи їх відсутність.</p> 
        <br>
        <p class="refund-paragraph">Грошові кошти, що надійшли до виконавця в якості оплати товару, підлягають поверненню покупцеві у разі його відмови отримати такий товар з причин та у терміни, передбачені Законом України “Про захист прав споживачів”.</p>
        <br>
        <p class="refund-paragraph"><b>НЕ ЗДІЙСНЮЄТЬСЯ</b> повернення грошових коштів інтернет-магазином за товар, який був пошкоджений покупцем.</p>
        <br>
        <p class="refund-paragraph">Грошові кошти за товар повертаються покупцеві за умови обов’язкового повернення товару покупцем. Товар, на якому наявні дефекти, подряпини чи інші механічні ушкодження, які з’явились з вини третіх осіб, поверненню та обміну <b>НЕ ПІДЛЯГАЄ.</b></p>
    </div>
</div>
{% endblock %}