{% extends 'base/base.html' %}
{% load static %}
{% block title %}Обмін та повернення{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'refund.css' %}">
<div class="refund-wrapper">
    <h1>Обмін та повернення</h1>
    <br>
    <hr>
    <br>
    <div class="refund-content">
        <h3>Обмін та повернення в онлайн-магазині BookLib відбувається згідно зі встановленими чинним законодавством правилами.</h3>
        <br>
        <p class="refund-paragraph">Якщо покупець виявить брак, тоді наш магазин здійснює обмін товару або повертає кошти у розмірі вартості товару. Поліграфічним друком вважається: розмазаний текст, пошкоджені сторінки, відсутність сторінок.</p> 
        <br>
        <p class="refund-paragraph"><b>НЕ ЗДІЙСНЮЄТЬСЯ</b> повернення грошових коштів інтернет-магазином за товар, який був пошкоджений покупцем.</p>
        <br>
        <p class="refund-paragraph">Повернення коштів НЕ ЗДІЙСНЮЄТЬСЯ інтернет-магазином за умови обов’язкового повернення товару покупцем. Товар, на якому наявні дефекти, подряпини чи інші механічні ушкодження, які з’явились з вини третіх осіб, поверненню та обміну <b>НЕ ПІДЛЯГАЄ.</b></p>
    </div>
</div>
{% endblock %}