{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{request.user.firstname}} {{request.user.lastname}}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'profile.css' %}">
<div class="profile-wrapper">
    <h1>{{request.user.firstname}} {{request.user.lastname}} {{request.user.patronymic}}</h1>
    <br>
    <p><a href="{% url 'bookmarks' %}" class="profile-action">Улюблені</a></p>
    <p><a href="{% url 'cart' %}" class="profile-action">Корзина</a></p>
    <p><a href="{% url 'logout' %}" class="profile-action">Вийти</a></p>
    <br>
    <h3>Ваші замовлення:</h3>
    <br>
    <div class="orders-wrapper">
        {% for number, orderedBooks in listOrderAndBooks.items %}
            <div class="order">
                <p class="order-number"><b>{{ number }}</b></p>
                <br>
                <div class="ordered-book-loop">
                    {% for book in orderedBooks %}
                        <div class="book">
                            <a href="{% url 'bookBySlug' book.slug %}">
                                <img class="book-img" src="{{ book.image.url }}" alt="">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
</div>
{% endblock %}