* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar, .center, .right, .social-list, .search {
    display: grid;
}

.info-list, .icons-list, .login-list {
    display: flex;
}

.navbar a, .right i {
    color: white;
}

.logo-text, .info-list li a, .login {
    font-family: 'Balsamiq Sans', cursive;
}

.icons-list li, .login-list li {
    margin: 0 20px 0 0;
}

.info-list  {
    align-items: center;
    flex-direction: row;
}

.icons-list {
    flex-direction: row;
    align-self: center;
    justify-content: end;
}

.navbar {
    top: 0;
    height: 100px;
    position: sticky;
    background: #161616;
    grid-template-columns: 1fr 4fr 2fr;
}

.logo {
    text-align: left;
    align-self: center;
    padding: 0 0 0 20px;
}

.logo-text {
    font-size: 32px;
}

.center {
    grid-template-rows: 1fr 2fr;
}

.info-list {
    text-align: center;
    justify-content: space-between;
}

.info-list li a {
    font-size: 14px;
}

.right {
    grid-template-areas: "icons icons"
                         "login login";
    grid-template-rows: 1fr 1fr;
}

.right .icons {
    align-self: center;
}

.social-list {
    align-items: center;
    text-align: right;
    grid-template-columns: repeat(4, 1fr);
}

.icons {
    grid-area: icons;
}

.login {
    grid-area: login;
}

.search {
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.login-list {
    justify-content: end;
}

.login-list li {
    font-size: 14px;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: #343a40;
}

.search_container input {
    padding: 10px;
    width: 100%;
    outline-style: none;
}