{% extends 'base/base.html' %}
{% load static %}
{% block title %}Улюблені{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'bookmarks.css' %}">
<h1>Улюблені книги</h1>
<div class="bookmarks-wrapper">
    {% if bookmarks %}
    <div class="bookmarks-loop">
        {% for bookmark in bookmarks %}
        <div class="bookmark">
            <a class="bookmark-img-container" href="{% url 'bookBySlug' bookmark.book.slug %}">
                <img src="{{ bookmark.book.image.url }}" alt="">
            </a>
            <p>
                <a href="{% url 'bookBySlug' bookmark.book.slug %}" class="bookmark-title">{{ bookmark.book.title }}</a>
            </p>
            <p class="bookmark-price">{{ bookmark.book.price }} <b>UAH</b></p>
            <a href="{% url 'addCartItem' bookmark.book.slug %}" class="bookmark-in-cart">У кошик</a>
            <a href="{% url 'removeBookmark' bookmark.book.slug %}"><i class="fas fa-times fa-2x"></i></a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 style="text-align: center;">У вас немає улюблених книг, але це можна виправити в будь-який момент ;)</h2>
    {% endif %}
</div>
{% endblock %}