{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base/base.css' %}">
    <link rel="icon" type="image/x-icon" href="/static/base/favicon.ico">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="logo">
                <a href="{% url 'index' %}" class="logo-text">Book</a><br>
                <a href="{% url 'index' %}" class="logo-text">Lib</a>
            </div>
            <div class="center">
                <ul class="info-list">
                    <li><a href="{% url 'listOfAuthors' %}">Автори</a></li>
                    <li><a href="{% url 'listOfEditions' %}">Видавництва</a></li>
                    <li><a href="{% url 'delivery' %}">Доставка та оплата</a></li>
                    <li><a href="{% url 'refund' %}">Обмін та повернення</a></li>
                    <li><a href="{% url 'about' %}">Про BookLib</a></li>
                </ul>
                <div class="search">
                    <div class="search_container">
                        <!-- action='.' means the same view(index)-->
                        <!--However this form may be used on other pages, so we don't use '.' here-->
                        <form type="get" action="{% url 'index' %}">
                            <input class='search-input' id="search" type="text" name="search" placeholder="Пошук">
                            <button class='search-button' type="submit">Знайти</button>
                        </form>
                    </div>
                    <div class="social">
                        <ul class="social-list">
                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg"></i></a></li>
                            <li><a href="https://web.telegram.org/"><i class="fab fa-telegram fa-lg"></i></a></li>
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook fa-lg"></i></a></li>
                            <li><a href="https://viber.com/"><i class="fab fa-viber fa-lg"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="icons">
                    <ul class="icons-list">
                        <li>
                            <a href="{% url 'bookmarks' %}"><i class="far fa-heart fa-lg"></i></a>
                        </li>
                        <li>
                            <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart fa-lg"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="login">
                    <ul class="login-list">
                        <li class="index-button"><a href="{% url 'index' %}">Головна</a></li>
                        <li><a href="{% url 'listOfCategories' %}">Категорії</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Привіт, {{ user.firstname }}</a></li>
                        <li><a href="{% url 'logout' %}">Вийти</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Увійти</a></li>
                        <li><a href="{% url 'register' %}">Реєстрація</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div> 
        {% block content %}
        {% endblock %} 
    </div>
    <footer>
        <div class="footer-info">
            <ul class="footer-info-list">
                <li><a href="{% url 'about' %}">Про BookLib</a></li>
                <li><a href="{% url 'refund' %}">Обмін та повернення</a></li>
                <li><a href="{% url 'delivery' %}">Доставка та оплата</a></li>
                <li><a href="{% url 'listOfAuthors' %}">Автори</a></li>
                <li><a href="{% url 'listOfEditions' %}">Видавництва</a></li>
            </ul>
        </div>
        <div class="footer-social">
            <ul class="footer-social-list">
                <li><a href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg"></i></a></li>
                <li><a href="https://web.telegram.org/"><i class="fab fa-telegram fa-lg"></i></a></li>
                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook fa-lg"></i></a></li>
                <li><a href="https://viber.com/"><i class="fab fa-viber fa-lg"></i></a></li>
            </ul>
        </div>
        <div class="rights"><p>2022 BookLib. Усі права захищені.</p></div>
    </footer>
</body>
</html>