* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;

}

h1 {
    text-align: center;
}

.authorization-wrapper {
    justify-content: center;
    display: flex;
    width: 100%;
}

.authorization-form {
    margin: 25px 0;
    padding: 25px;
    text-align: center;
    border: 2px solid var(--frame);
    border-radius: 25px;
    width: 30%;
}

.authorization-field input {
    padding: 10px 20px;
    width: 80%;
}

.authorization-error {
    color: crimson;
    font-size: 14px;
}

.authorization-button {
    border-style: none;
    color: white;
    padding: 20px 40px;
    font-size: 20px;
    background: var(--frame);
    transition: 0.2s ease-in-out;

}

.authorization-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 8px rgba(34, 60, 80, 0.2);
}