@media (max-width: 1325px) {
    .wrapper .ordered-book-loop {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1090px) {
    .wrapper .ordered-book-loop {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 856px) {
    .wrapper .ordered-book-loop {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 624px) {
    .wrapper .ordered-book-loop {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 350px) {
    .wrapper .ordered-book-loop .book-img {
        max-height: 250px;
    }
}

@media (max-width: 300px) {
    .wrapper .ordered-book-loop .book-img {
        max-height: 200px;
    }
}

.profile-wrapper {
    font-family: 'Balsamiq Sans', cursive;
    margin: 40px;
}

.order {
    padding: 10px;
    border: 2px solid var(--menu);
}

.ordered-book-loop {
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.book {
    z-index: 1;
    padding: 10px;
}

.book-img {
    width: auto;
    max-height: 300px;
    transition: 0.3s ease-in-out;
}

.book-img:hover {
    transform: scale(1.05);
}