{% extends 'base/base.html' %}
{% load static %}
{% block title %}Корзина{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'cart.css' %}">
<h1>Корзина</h1>
<div class="cart-wrapper">
    {% if items %}
    <div class="content">
        <div class="cart-loop">
            {% for cartItem in items %}
            <div class="cartItem">
                <a class="cartItem-img-container" href="{% url 'bookBySlug' cartItem.book.slug %}">
                    <img src="{{ cartItem.book.image.url }}" alt="">
                </a>
                <p>
                    <a href="{% url 'bookBySlug' cartItem.book.slug %}" class="cartItem-title">{{ cartItem.book.title }}</a>
                </p>
                <p class="cartItem-price">{{ cartItem.book.price }} <b>UAH</b></p>
                <a class='cartItem-remove' href="{% url 'removeCartItem' cartItem.book.slug %}"><i class="fas fa-times fa-2x"></i></a>
            </div>
            {% endfor %}
        </div>
        <div class='cart-make-order'>
            <div class='cart-make-order-sticky-container'>
                <h2 class='make-order-h2'style='border-bottom: 2px solid black'>Замовлення</h2>
                <br>
                <form method='post'>
                    {% csrf_token %}
                    {% for field in form %}
                    <p class='make-order'>{{ field }}</p>
                    <br>
                        {% for error in field.errors %}
                            <span class='make-order-error'>{{ error }}</span>
                            <br><br>
                        {% endfor %}
                    {% endfor %}
                    <button class='make-order-button' type="submit">Замовити</button>
                </form>
            </div> 
        </div>
        <span class='total'>Загальна вартість: <b>{{ total }} UAH</b></span>
    </div>
    {% else %}
    <h2 style="align-self: center; display: flex; justify-content: center;">Корзина порожня, але це можна виправити в будь-який момент ;)</h2>
    {% endif %}
</div>
{% endblock %}