@media (max-width: 1100px) {
    .wrapper .price-buy-favorite-available {
        grid-template-columns: 1fr;
        grid-template-areas: "price"
                             "buttons";
        row-gap: 10px;
    }
    .wrapper .price-buy-favorite-inner-div {
        text-align: left;
    }
}

@media (max-width: 1100px) {
    .wrapper .other-books {
        grid-template-columns: repeat(3, 1fr);
    }
    .wrapper .another-book-img {
        max-height: 250px;
    }
}

@media (max-width: 800px) {
    .wrapper .book-img {
        max-height: 100%;
        min-width: 100%;
    }
    .wrapper .book-content {
        column-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img delivery"
                             "info info";
    }
    .wrapper .price-buy-favorite-inner-div {
        display: grid;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }
    .wrapper .price-buy-favorite-inner-div a {
        width: 70%;
    } 
}

@media (max-width: 650px) {
    .wrapper .another-book-img-container {
        max-height: 250px;
    }
    .wrapper .price-buy-favorite-inner-div a {
        width: 100%;
    } 
    .wrapper .other-books {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 520px) {
    .wrapper .book-content {
        column-gap: 0;
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas: "img"
                             "delivery"
                             "info";
    }
    .wrapper .other-books {
        grid-template-columns: 1fr;
    }
    .wrapper .another-book-container {
        grid-template-areas: "new popular"
                             "img img"
                             "title title"
                             "price price"
                             "buy buy";
    }
    .wrapper .other-book-container {
        grid-template-areas: "new popular"
                             "img img"
                             "title title"
                             "author author"
                             "price price"
                             "buy buy";
    }
}

* {
    font-family: 'Balsamiq Sans', cursive;
}

hr {
    border: 1px solid gray;
}

a {
    color: black;
}

.book-img, .book-info {
    z-index: 1;
}

.book-wrapper {
    padding: 20px 40px;
}

.book-content {
    column-gap: 40px;
    display: grid;
    grid-template-areas: "img info delivery";
    grid-template-columns: 1fr 2fr 2fr;
}

.book-img {
    grid-area: img;
    width: 100%;
    height: auto;
}

.book-info {
    grid-area: info;
    padding: 20px 0;
}

.book-info-line {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.field-value {
    text-align: right;
}

.field-link:hover {
    text-decoration: underline;
}

.price-buy-favorite-available {
    display: grid;
    grid-template-areas: "price buttons";
    grid-template-columns: 1fr 2fr;
}

.price-buy-favorite-not-available {
    display: grid;
    grid-template-areas: "price buttons";
    grid-template-columns: 1.5fr 1fr;
}

.price-buy-favorite-not-available a {
    text-align: center;
}

.price-buy-favorite-inner-div {
    grid-area: buttons;
    text-align: right;
}

.available, .not-available {
    font-size: 20px;
    display: grid;
} 

.available .available-span {
    color: rgb(19, 185, 19);
}

.not-available .available-span {
    color: crimson;
}

.isAvailableButton {
    font-size: 20px;
    color: white;
    padding: 5px 10px;
    background: var(--menu);
}

.bookMarkmargin-right {
    margin-right: 10px;
}

.book-price {
    grid-area: price;
    font-size: 22px;
}

.delivery {
    grid-area: delivery;
    z-index: 1;
    padding: 10px;
    border-left: 2px solid gray;
    
}

.delivery-content {
    position: sticky;
    top: 130px;
}

.delivery h2 {
    text-align: center;
}

.delivery li {
    padding: 0 0 0 10px;
}

.other-books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 20px;
}

.another-book-container {
    row-gap: 20px;
    z-index: 1;
    display: grid;
    grid-template-areas: "new popular"
                         "img img"
                         "title title"
                         "price buy";
    grid-template-columns: 1fr 1fr;
    transition: 0.3s ease-in-out;
}

.other-book-container {
    row-gap: 20px;
    z-index: 1;
    display: grid;
    grid-template-areas: "new popular"
                         "img img"
                         "title title"
                         "author author"
                         "price buy";
    grid-template-columns: 1fr 1fr;
    transition: 0.3s ease-in-out;
}

.another-book-container:hover, .other-book-container:hover {
    transform: scale(1.05);
}

.another-book-new {
    grid-area: new;
    background: rgb(29, 218, 29);
}

.another-book-popular {
    grid-area: popular;
    background: crimson;
}

.another-book-new, .another-book-popular {
    padding: 5px 0;
    display: grid;
    text-align: center;
    align-items: center;
    color: white;
}

.another-book-img-container {
    grid-area: img;
    z-index: 3;
    text-align: center;
}

.another-book-img {
    width: auto;
    max-height: 300px;
}

.another-book-title {
    grid-area: title;
    font-size: 18px;
}

.another-book-author {
    color: gray;
    grid-area: author;
}

.another-book-price {
    font-size: 20px;
    grid-area: price;
    align-self: center;
}

.another-book-buy {
    grid-area: buy;
    align-self: center;
    color: white;
    border-radius: 5px;
    background: black;
    text-align: center;
    padding: 5px 0;
}